
.nav-container {
	background-color: black;
	padding-left: 25px;
}

.nav-container img {
	padding: 10px 0 10px 10px;
}

.nav-container ul a {
	font-size: 16px;
}


.abilityScore {
	background-color:#FFFFEE;
	text-align:center;
	padding:1px 0px 0px 0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
	width:30px;
	height:17px;
	float:right;
	margin:-3px 3px 0px 0px;
	font-size:10pt;
	font-weight:bold;
}

.abilityMod {
	background-color:#CCCCBB;
	text-align:center;
	padding:1px 2px 0px 0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
	width:28px;
	height:17px;
	float:right;
	margin:-3px 0px 0px 0px;
	font-size:9pt;
}

.ability {
	color:#FFFFFF;
	font-weight:bold;
}

.abilityBar {
	background-color:#666666;
	padding:0px 2px 1px 5px;
	border-style:solid;
	border-width:1px
	;border-color:#000000;
	height:14px;
	font-size:8pt;
}

.abilityContainer {
	/*width:232px;*/
	margin:0px 0px 8px 0px;
}

.charContent {
	display:inline-block;
	width:100%;
	margin:8px 3px 1px 8px;
	vertical-align: top;
}

.charSheet {
	font-family:arial;
	font-size:8pt;
	/*width:730px;*/
	line-height:normal;
	color:#000000;
	border-style:solid;
	border-width:1px;
	border-color: #666666;
	text-align:left;
}

.charHeader {
	color:#FFFFFF;
	background-color:#666666;
	padding:4px 8px 5px 8px;
	font-size:10pt;
}

.char-title {
	
}

.no-padding {
	padding: 0;
}

.margin-right {
	margin-right: 25px;
}
